# Ignore build files
build/

# Ignore IDE files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore OS-specific files
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db

# Ignore C++-specific files
*.o
*.obj
*.pdb
*.lib
*.exe
*.dll
*.so
*.dylib
*.dSYM
*.ncb
*.suo
*.plg
*.aps
*.pch
*.vspscc
*.vssscc
*.scc
*.tlb
*.tlh
*.tli

# Ignore Vim-specific files
*.swp
*.bak
*.tmp
*.lock
*.undo

# Program-specific files
webserv